.faqcont{
    width: 100vw;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.faqs:first-child{
    margin-top: 40px;
}

.faqque{
    width: 70vw;
    min-height: 60px;
    background: #F4F4F426;
    color: #EEE9E6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
}

.faqans div{
    font-weight: 400;
}

.faqSubque{
    width: 100%;
    min-height: 50px;
    padding: 15px;
    color: #EEE9E6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 45px;
    border-radius: 10px;
    overflow-y: hidden;
}

.faqSubque::-webkit-scrollbar-thumb{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.stateHolder{
    height: 60px;
    width: 60px;
    position: absolute;
    background: #C4C4C4F2;
    color: #1C232D;
    font-size: 30px;
    display: grid;place-content: center;
    border-radius: 100%;
    left: -25px;
    cursor: pointer;
    z-index: 2;
}

.faqans{
    width: 70vw;
    height: 0px;
    /* padding: 20px; */
    padding: 0px 20px;
    overflow: hidden;
    background: #C4C4C4F2;
    color: #1C232D;
    font-weight: bolder;
    margin-top: 20px;
    border-radius: 10px;
    transition: all 0.5s;
}
.faqans::-webkit-scrollbar-thumb{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media screen and (max-width : 500px){
    .faqcont{
        width: 80vw;
        font-size: 13px;
    }
}