.landing {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-left: 10%;
    height: fit-content;
    font-family: Poppins;
    align-items: center;
}

.landingImage{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.landingContent{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.landingImage img{
    width:100%;
    align-self: center;
}

.landindContent h1{
    font-size: 40px;
    color: white;
}
.dynamic-text{
    color: #AD5FAA;
}

.landindContent p{
    padding: 10px;
    color: white;
    font-size: 20px;
}
.span-color{
    color: #5FAD79;
}

.landingBtn--wapper{
    padding: 10px;
}
.landingBtn--wapper button{
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}
.landingBtn--wapper button:active{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
    transform: translateY(2px);
}
.landindContent a{
    color: black;
    text-decoration: none;
}

.landingBtn{
    width: 150px;
    height: 75px;
    background-color: #EEE9E6;
    margin-right: 20px;
    font-size: 18px;
    border-radius: 20px;
}

.homeregbtn{
    font-size: 23px;
}

.discord{
    width: 170px;
    background-color: #46474B;
    color: #EEE9E6;
    font-size: 20px;
}


.discordimg{
    height: 30px;
    margin-right: 10px;
}

@media screen and (max-width : 900px){
    .landindContent{
        width: 100%;
    }
    .landing{
        padding-top: 60px;
        flex-wrap: wrap;
        /* margin-left: 10px; */
        width: 80%;
    }
    .landindContent h1{
        font-size: 40px;
    }
    .landingBtn--wapper{
        display: flex;
        justify-content: flex-end;
    }

    .landingImage {
        width: 100%;
    }
}

@media screen and (max-width : 500px){
    .landindContent{
        width: 100%;
    }
    .landing{
        padding-top: 60px;
        flex-wrap: wrap;
        margin-left: 10px;
    }
    .landindContent h1{
        font-size: 30px;
        width: 90vw;
    }
    .landingBtn--wapper{
        justify-content: unset;
        display: flex;
    }

    .landingImage {
        width: 100%;
    }
}