@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.landing {
    /* padding-top: 30px; */
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-left: 10%;
    height: fit-content;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

.landingImage{
    padding: 10%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.landindContent{
    /* width: 35%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* width: 50vw; */
    
}

.landingImage img{
    width:100%;
    align-self: center;
}

.homeCont{
    display: flex;
    flex-direction: column;
}

.homeContSub{
    display: flex;
}

.landindContent h1{
    font-size: 40px;
    color: white;
}
.dynamic-text{
    color: #AD5FAA;
    /* display: inline; */
    width: 350px;
    margin-left: 10px;
}

.openforcemention{
    color: #5865F2;
    font-weight: bolder;
    font-size: 55px;
    margin-bottom: 30px;
}

.landindContent p{
    padding: 10px;
    color: white;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}
.span-color{
    color: #5FAD79;
}

.landingBtn--wapper{
    padding: 10px;
}
.landingBtn--wapper button{
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}
.landingBtn--wapper button:active{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
    transform: translateY(2px);
}
.landindContent a{
    color: black;
    text-decoration: none;
}

.landingBtn{
    width: 150px;
    height: 75px;
    background-color: #EEE9E6;
    margin-right: 20px;
    font-size: 18px;
    border-radius: 20px;
    transition: all 0.3s;
}


.landingBtn:hover{
    transform: translateY(-5px);
    
}

.homeregbtn{
    font-size: 23px;
}

.discord{
    width: 170px;
    background-color: #46474B;
    color: #EEE9E6;
    font-size: 20px;
}


.discordimg{
    height: 30px;
    margin-right: 10px;
}

@media screen and (max-width : 1300px){
    .openforcemention{
        font-size: 45px;
    }
}

@media screen and (max-width : 900px){
    .landindContent{
        width: 100%;
    }
    .landing{
        /* padding-top: 60px; */
        flex-wrap: wrap;
        /* margin-left: 10px; */
        width: 80%;padding-top: 100px;
    }
    .landindContent h1{
        font-size: 40px;
    }
    .landingBtn--wapper{
        display: flex;
        justify-content: flex-end;
    }

    .landingImage {
        width: 100%;
    }
}

@media screen and (max-width : 600px) {
    .openforcemention{
        font-size: 45px;
    }
}

@media screen and (max-width : 500px){
    .openforcemention{
        font-size: 40px;
    }
    .landindContent{
        width: 100%;
    }
    .landing{
        /* padding-top: 60px; */
        flex-wrap: wrap;
        margin-left: 10px;
    }
    .landindContent h1{
        font-size: 30px;
        width: 90vw;
    }
    .landingBtn--wapper{
        justify-content: unset;
        display: flex;
    }

    .landingImage {
        width: 100%;
    }
}

@media screen and (max-width : 365px){
    .landindContent h1{
        font-size: 25px;
        width: 90vw;
    }
    .openforcemention{
        font-size: 30px;
    }
}