/* container */

.orgHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 2px solid #464748;
    padding: 0px 20px;
}

.fullPageLogo{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.fpageOrgDetails{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fpageOrgDetails div{
    margin-left: 10px;
    color: #EEE9E6;
}

.selectBox{
    width: 150px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    background-color: #46474B;
    border: 2px solid #EEE9E6;
    color: white;
}

.selectBox:focus{
    outline: none;
}

.issuesCont{
    width: 80%;
    /* height: fit-content; */
    height: calc(90vh - 70px);
    margin: auto;
    margin-top: 5vh;
    border-radius: 10px;
    overflow-y: scroll;
    /* border: 2px solid #46474B; */
}

.issueCont:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.issueCont:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0px;
}

.noIssue{
    height: calc(90vh - 70px);
    color: #EEE9E6;
    font-size: 30px;
    border-radius: 10px;
    border: 2px solid #46474B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightOrgFullHeader{
    display: flex;
}

.addNew{
    margin-left: 20px;
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    background-color: #EEE9E6;
    border: 2px solid #EEE9E6;
    color: #46474B;
    line-height: 40px;
    cursor: pointer;
}

@media screen and (max-width : 900px) {
    .issuesCont{
        width: 90%;
    }
}

@media screen and (max-width : 500px) {
    .selectBox{
        width: 100px;
    }
}