.registration{
    padding: 20px 100px;
    position: relative;
    overflow: hidden;
}

.leftRegBar{
    height: 80%;
}

.regForm{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
}

.regForm form{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.regForm form div{
    width: 100%;
    display: flex;
    align-items: center;
}

.regText{
    color: white;
    width: 50%;
    line-height: 100%;

}
.regInput{
    width: 50%;
    position: relative;
    z-index: 2;
}

.regimage{
    width: 90%;
    position: relative;
    z-index: 2;
}

.genderSelect{
    display: flex;
    justify-content: space-evenly;
    color: white;
}
.genderSelect label{
    margin-left: 10px;
}

#regname,#regemail,#regno,#regcity,#regcollege,#regstate{
    width: 100%;
    background-color: transparent;
    border-radius: 15px;
    line-height: 40px;
    border: 3px solid #EEE9E6;
    padding: 0px 20px;
    color: #EEE9E6;
}

#regname:focus,#regemail:focus,#regno:focus,#regcity:focus,#regcollege:focus,#regstate:focus{
    outline: none;
}

.leftRegBar{
    display: flex;
    justify-content: flex-end;
}

#register{
    width: 170px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border: none;
    background-color: #EEE9E6;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    margin-top: 20px;
    font-size: 20px;
}

.ball1{
    width: 300px;
    height: 300px;
    background: linear-gradient(180deg, rgba(65, 73, 162, 0) 0%, #4149A2 100%);
    border-radius: 300%;
    position: absolute;
    bottom: -20px;
    left: -60px;
    z-index: 0;
}
