@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
#Sessions{
    font-family: 'Montserrat', sans-serif;
    padding: 20px 100px;
}
.heading{
    position: relative;
    text-transform: uppercase;
    color: #EEE9E6;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 30px;
}
.heading::after{
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    border-bottom: 4px solid #EEE9E6;
    width: 7%;
}
#sessions-grid{
    display: grid;
    padding-bottom: 10px;
    grid-auto-flow: column;
    justify-content: start;
    overflow-x: scroll;
    width: 100%;
    /* grid-template-columns: repeat(5,auto); */
    grid-template-rows: auto auto;
    column-gap: 20px;
    row-gap: 30px;
}
@media screen and (max-width:1400px) {
    #Sessions{
        padding: 20px 70px;
    }
}
@media screen and (max-width:900px) {
    #Sessions{
        padding: 20px 20px;
    }
    .heading{
        font-size: 20px;
    }
    .heading::after{
        position: absolute;
        bottom: -5px;
        left: 0;
        content: "";
        border-bottom: 3px solid #EEE9E6;
        width: 27%;
    }
}
@media screen and (max-height:900px) {
    #sessions-grid{
        grid-template-rows: auto;
    }
}