.timelineCont {
    margin-top: 70px;
    padding: 20px 100px;
}

.tlboxwrap {
    display: flex;
    justify-content: space-around;
    margin-top: 1.25vw;
}

.tlboxes {
    width: 30vw;
    height: 5vw;
    position: relative;
    font-size: 2vw;
    text-align: center;

    border: 0.2vw solid white;
    border-radius: 1vw;
    margin: 0.5vw;
}

#tlbox1 {
    background-color: white;
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tlbox3 {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tlbox5 {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tlbox7 {
    background-color: white;
    height: 7.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tlbox9 {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tlbox2 {
    color: white;
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tlbox4 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tlbox6 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tlbox8 {
    color: white;
    height: 7.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tlbox10 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1400px) {
    .timelineCont {
        padding: 20px 70px;
    }
}
@media screen and (max-width: 900px) {
    .timelineCont {
        padding: 20px 20px;
    }
    .tlboxes {
        width: 40vw;
    }
}